@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 85vh;
  .item {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: space-around;

    .title {
      font-size: 12px;
      font-weight: 200;
      color: $soft-color;
      text-transform: uppercase;

      @include lg {
        display: none;
      }
    }

    .listItem {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;

      &:hover {
        background-color: $soft-bg;
      }

      .listItemTitle {
        @include lg {
          display: none;
        }
      }
    }
  }
}
