.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  .signout {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
  }
  span {
    &:first-child {
      font-weight: bold;
    }

    &:last-child {
      font-size: 14px;
    }
  }
}
